<table class="table table-bordered">
  <th scope="col" class="text-center">ジャンル検索</th>
    <tr>
      <td>
        <% genres.each do |genre| %>
          <%= link_to items_path(genre_name: genre.name), class: 'text-decoration-none text-dark  btn-default' do %>
            <%= genre.name %>
          <% end %>
        <% end %>
      </td>
    </tr>
</table>